body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.btnHome {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #939393;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.btnHome:hover {
    background-color: #676767;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
label {
    margin: 10px 0 5px;
}
input, select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btnAddEmploe {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btnAddEmploe:hover {
    background-color: #218838;
}